.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 25s linear;
  height: 40vmin;
  pointer-events: none;
}

.pageBottom {
  background: url('binBackGround.jpg');
  background-size: 450px;
  min-height: 20vh;
}

.App-otherlogos {
  /* animation: App-otherlogos-spin infinite 5s linear; */
  position: relative;
  top: 0;
  height: 10vmin;
  pointer-events: fill;
}

.App-header {
  background-color: #72c940;
  background-size: 400px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-otherlogos-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Carddesign {
  color: #61dafb;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  border: 5px solid;
  border-color: white;
  margin: 10px;
}

.NodeDesign {
  color: #7bfb61;
  border: 10px solid;
  border-color: rgb(34, 27, 27);
}

.card {
  display: flex;
  justify-content: flex-start;
}